body {
  font-family: 'Roboto', sans-serif;
  color: #747704;
  font-weight: 300;
  font-size: 18px;
}

.text-nav {
  font-weight: 500;
  font-size: 22px;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 30px;
}

.title-logo {
  margin-top: 18px;
  margin-bottom: 18px;
}

// Font size never less than 11

// Font size should be 17px on body
// Google does 12,14,18,22

// Headline has a heavier weight than body

// Nav is same size as body
